[Desktop Entry]
Name=CGoban v1
Name[pl]=CGoban v1
Comment=SGF browser and IGS client
Comment[pl]=Przeglądarka plików SGF i klient IGS
Icon=cgoban_icon
Exec=cgoban
Terminal=false
Type=Application
Categories=Game;
# vi: encoding=utf-8
